@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Indigo Regular";
  src: url("/fonts/Indigo-Regular.otf") format("opentype");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-theme: #d53030;
  --main-gradient: linear-gradient(to bottom, #ffe589, #e6b405 40%);
  --main-radius: 50px;
  --second-radius: 25px;
  --solid-box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.25);
  --blurred-box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.5);
  --inset-blurred-box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
  --main-border-colour: #5d5431;
}

body {
  color: black;
  background: var(--background-theme);
  width: 100vw;
  height: 100svh;
  overflow: hidden;
  font-family: "roboto";
  orientation: portrait;
}

img {
  -webkit-user-drag: none;
}

@layer components {
  .main-button {
    background-image: var(--main-gradient);
    border-radius: var(--main-radius);
    border: 2px solid #5d5431;
    box-shadow: var(--solid-box-shadow);
    font-size: 1.5rem;
  }

  .leave-button {
    background-image: linear-gradient(to bottom, #ff9e89, #e62d05 40%);
    border-radius: var(--main-radius);
    border: 2px solid var(--main-border-colour);
    box-shadow: var(--solid-box-shadow);
    width: 170px;
    min-height: 60px;
    max-width: 90%;
    aspect-ratio: 5/2;
  }

  .click-buttons {
    width: 200px;
    min-height: 80px;
    max-width: 90%;
    aspect-ratio: 5/2;
  }

  .click-buttons:active,
  .leave-button:active {
    box-shadow: inset 0px 4px 0px 0px #00000050, inset 0px -4px 0px 0px #00000010;
  }

  .dropped-section {
    position: relative;
    background-color: #852828d5;
    border-radius: var(--second-radius);
    box-shadow: inset 0px 0px 20px 14px #00000035;
  }

  .dropped-section::after {
    position: absolute;
    content: "";
    background-color: #852828;
    border-radius: var(--second-radius);
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-blend-mode: darken;
    background-image: url(/images/logo.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: max(300px, 75%);
  }

  .logo {
    width: 350px;
    max-width: 80vw;
    transform: translate(0, -35%);
    z-index: 1;
  }

  .logo-container {
    width: 350px;
    max-width: 80vw;
    max-height: 175px;
    aspect-ratio: 10/5;
  }

  .banner-container {
    height: 115px;
  }

  .banner {
    width: 350px;
    max-width: 70vw;
    min-height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: var(--main-gradient);
    border-radius: var(--main-radius);
    transform: translate(0, -50%);
    box-shadow: var(--blurred-box-shadow);
  }

  .banner::before,
  .banner::after {
    position: absolute;
    content: "";
    top: 50%;
    width: 50px;
    height: 35%;
    background-image: var(--main-gradient);
    border: 2px solid #5d5431;
  }

  .banner::before {
    left: -50px;
    z-index: 1;
    border-right: none;
    border-radius: var(--main-radius) 0px 0px var(--main-radius);
    box-shadow: -4px 0px 6px 0px rgba(0, 0, 0, 0.5), inset -5px 0px 6px 0px rgba(0, 0, 0, 0.25);
    transform: translate(0, -50%);
  }

  .banner::after {
    left: calc(100%);
    z-index: 1;
    border-left: none;
    border-radius: 0px var(--main-radius) var(--main-radius) 0px;
    box-shadow: 4px 0px 6px 0px rgba(0, 0, 0, 0.5), inset 5px 0px 6px 0px rgba(0, 0, 0, 0.25);
    transform: translate(0, -50%);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .outlined-text {
    -webkit-text-stroke: 0.5px black;
  }

  .home-screen-pb {
    padding-bottom: min(2.5rem, 3vw);
  }

  .home-screen-px {
    padding-left: min(2.5rem, 3vw);
    padding-right: min(2.5rem, 3vw);
  }

  .home-screen-py {
    padding-top: min(2.5rem, 3vw);
    padding-bottom: min(2.5rem, 3vw);
  }

  .cartoon-text {
    color: white;
    font-family: "Indigo Regular";
    -webkit-text-stroke: 1px #5d5431;
    text-shadow: 0px 3px #5d543150;
  }

  .scrollbar-none::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .main-input {
    color: white !important;
  }
}

.posting::after {
  content: "";
  animation-name: dotdotdot;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

input:autofill {
  color: white !important;
}

@keyframes dotdotdot {
  0% {
    content: "";
  }
  35% {
    content: ".";
  }
  50% {
    content: "..";
  }
  100% {
    content: "...";
  }
}
